output.csv
ny_taxi_postgres_data
ny_taxi_data
data_pgadmin
.terraform
terraform.tfstate
.terraform.lock.hcl
docksdocks.yml
logs
.env
de-zoomcamp-week-2-data-ingestion/airflow/.env
de-zoomcamp-week-3-data-warehouse/airflow/dags_new